*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, p, ul, ol, li, blockquote, fieldset {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

.result__video-container,
.content__list {
    position: relative;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content {
    display: flex;
    padding: 133px 30px;
    gap: 30px;
    align-items: flex-end;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content__list {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content__details {
    flex: 1;
    min-width: 399px;
    height: 534px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.result__video-container {
    width: auto;
    height: 386px;
}

.result__video-container video {
    width: 100%;
    max-height: 100%;
}

.result {
    width: 711px;
    height: 456px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content__video-card {
    width: 394px;
    height: 107px;
    display: flex;
    align-items: flex-start;
}

.content__video-card-description-container,
.content__video-card-thumbnail {
    flex: 1;
}

.content__video-card-thumbnail {
    max-width: 194px;
}

.content__video-card img {
    width: 100%;
    height: 100%;
}

/* Общие стили для заголовков и описаний */
.title,
.content__video-card-title {
    font-family: Oswald;
    font-weight: 700;
    text-transform: uppercase;
}

.title {
    font-size: 75px;
    line-height: 70.5px;
}

.title .content__accent {
    color: #545050;
}

.content__video-card-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 6px;
}

.content__video-card-description,
.search-form__fieldset-title,
.search-form__label-text,
.button {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* Уникальные стили */
.search-form__fieldset-title,
.content__video-card-description {
    line-height: 21.6px;
}

.content__video-card-description {
    line-height: 16.2px;
}

.search-form__label-text {
    line-height: 19px;
}

.content__card-link {
    color: #FFF;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

fieldset {
    border: none;
}

.search-form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-form__textfield {
    color: #FFF;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    width: 225px;
    height: 27px;
}

.search-form__textfield::placeholder {
    color: rgb(255 255 255 / 70%);
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
    align-items: center;
}

.search-form__label {
    display: flex;
    width: fit-content;
    gap: 5px;
    cursor: pointer;
}

.search-form__pseudo-checkbox {
    height: 19px;
    width: 19px;
    border: 1px solid #FFF;
    position: relative;
}

/* Псевдоклассы и псевдоэлементы */
.content__list-item:hover,
.search-form__submit-button:hover,
.search-form__label:hover .search-form__label-text,
.content__video-card-title:hover,
.content__video-card-description:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button {
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    height: 34px;
    cursor: pointer;
}

.search-form__submit-button {
    width: 194px;
}

.content__card-link_current .content__video-card,
.search-form__submit-button:active {
    background-color: #545050;
}

.more-button {
    width: 100%;
    margin-bottom: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-form__textfield:active {
    border: 1px solid #FFF;
}

.search-form__textfield:focus {
    outline: none;
}

.button:focus-visible,
.search-form__label:has(input:focus-visible) {
    outline: 1px solid #FFF;
    outline-offset: 1px;
}

.content__card-link:focus-visible {
    outline: none;
}

.content__list-item:has(.content__card-link:focus-visible) {
    border: 1px solid #FFF;
}

.button:focus {
    outline: none;
}
